*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

.card{
    display: flex;
    flex-direction: column; /*Distribui os items em colunas ou linhas*/
    justify-content: space-between; /*Distribuir o espaço disponivel entre os elementos*/
    height: 100vh; /*Ocupado todo a altura da tela*/
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}


.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* título e a descrição crescer para "empurrar" o botão para baixo*/
    gap: 10px;
    text-align: center;
    border: 2px solid black;
}

.card img{
    margin: 0 auto;/* centraliza horizontalmente */
    max-width: 100%; /* evita que a imagem ultrapasse o card */
    border-radius: 10px;
}
