/* box model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* variaveis com cores*/
:root {
    --cor-header: #3498db;
    --cor-destaque: #e74c3c;
    --cor-fundo: #ffffff;
    --cor-texto: #333;
}

/* cabeçalho */
header {
    background-color: var(--cor-header);/*cor de fundo do cabeçalo*/
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-family: "Merriweather", serif; /*font principal*/
    font-size: 30px;/*tamanho da fonte h1 */
}

nav ul {
    margin-top: 10px;/*espaçamento*/
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--cor-destaque);
}

/* conteudo principal */
main {
    max-width: 800px;
    margin: 20px auto;
}

article {
    background-color: var(--cor-fundo);
    padding: 10px;
    margin-bottom: 40px;
}

article h2 {
    font-family: "Merriweather", serif;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 255, 0.219);
    border-radius: 10px 10px ;
}

/* adicionando emoji antes do conteudo*/
article h2::before {
    content: "🍽️";
    margin-right: 10px;
    
}

/* imagem */
article img {
    width: 100%; /*100% em relação ao enquadramento*/
    height: auto; /*altura ajustada auto*/
    margin-top: 10px; /*espaçamento da borda superior*/
    border-radius: 5px;
    cursor: pointer;
}

/* aside - links extras */
aside {
    background-color: var(--cor-header);
    padding: 8px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 8px;
    text-align: center;
}

aside ul {
    list-style-type: none;
}

aside li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}

aside li a:hover {
    background-color: var(--cor-primaria);
    color: rgb(0, 36, 238);
}


aside ul li{
    background-color: #f0f0f0;
    border: 1px solid var(--cor-header);
}


/* footer */
footer {
    text-align: center;
    background-color: #ccc;
    padding: 5px;
    margin-top: 40px;
}