

/*Macro container, posição de cada elemento na área*/
.container{
    display: grid;
    grid-template-areas:
    'header header'
    'main aside'
    'article aside' 
    'footer footer'
    ; /* Define o layoult visual por meio de nomes de cada área*/
}


/* ---- Cabeçalho -----*/
header{
    grid-area: header; /* Liga os elementos que define no grid template areas*/
    border: 2px solid rgb(0, 0, 0);
}
nav{
    display: flex;
    justify-content: space-between; /* espaçamento entre os elementos*/
    align-items: center; /* alinha os itens */
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
} 
nav a{
    text-decoration: none;
    transition: background-color 0.4s ease;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.imgnav{
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.imgnav:hover{
    width: 32px;
}

nav a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

header button{
    background-color: rgb(255, 249, 249);
}

header img{
    border: 2px solid black;
    width: 100px;
}
/* ---- Fim Cabeçalho -----*/

/* ---- Inicio Conteúdo Principal -----*/

main{
    padding-top: 60px;
}

.container-main{
    grid-area: main;
    display: grid; /*fração pega uma parte proporcional do espaço restante*/
    grid-template-columns: repeat(3, 1fr); /*Define quatas colunas no me grid vai ter (Outra maneira de fazer grid-template-columns: 1fr 1fr 1fr;)*/  
}

.second{
    /* grid-column: 1 / -1; Começa na coluna 1 até antes da coluna 4 */
    border: 2px solid rgb(255, 0, 0);
} 

aside{
    padding-top: 60px;
    grid-area: aside;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border: 2px solid rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
}

aside ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    overflow: auto;
    padding: 10px;
}

aside ul li{
    padding: 10px;
}


aside ul li:hover{
    background-color: rgb(64, 71, 71);
    cursor: pointer;
    border-radius: 5px;
}

article{
    grid-area: article;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

article p{
    text-align: center;
}

article img{
    border: 2px solid white;
}

footer{
    grid-area: footer;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    background-color: black;
    color: white;
}

.btn-nav {
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    opacity: 0.5;  
}

.btn-nav:hover{
    background-color: aliceblue;
    opacity: 1;
    cursor: pointer;
    font-size: 1.52rem;
}






