*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

.grid{
    display: grid;
    grid-template-areas: 
    'header header'
    'main main'
    'aside aside'
    'footer footer'
    ;
}

.container{
    background-color: rgb(48, 48, 48);
    position: fixed;
    width: 100%;
}

.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.container-main{
    grid-area: main;
    margin-top: 72px;
    padding: 22px;
}

span{color: orangered; font-weight: bold;}
span:hover{color: orangered; text-decoration: underline; cursor: pointer;}
h1{font-size: 1.5rem;}
h1:hover{color: orangered; text-decoration: underline; cursor: pointer;font-size: 1.51rem;}
p{ color: grey;  font-size: 1.2rem; margin: 20px 0px;}

.text-little{margin-top: 2px; color: grey; font-size: 1.1rem;}
.img-little{
    object-fit: cover; /*preenche o espaço sem distorcer, pode cortar um pouco*/
    float: left; /*coloca a imagem à esquerda.*/
    width:180px; 
    height: 180px;
    margin-right: 10px;
    margin-bottom: 1px;
}
.img-text{
    border-bottom: inset;
    overflow: hidden; /* para conter o float */
    margin-bottom: 20px;
}

.container-aside{
    grid-area: aside;
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
}

/*---Conteudo Social---*/
.content-social{
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}
.icon-social{
    width: 30px;
    height: 30px;
}

.icon-social:hover{
    width: 31px;
    height: 31px;
    content: url(icons/instagram-orange.png);
}
/*---Conteudo Social---*/

/*---Conteudo das Categorias---*/
.content-category{

}

/*---Conteudo das Categorias---*/

.container-footer{
    grid-area: footer;
    background-color: rgb(48, 48, 48);
    text-align: center;
}

.content-footer p{
    text-align: center;
    font-size: 0.9rem;
}