* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
:root {
  --color-gray: rgb(214, 214, 214);
  --color-orange: orangered;
  --color-orange-hover: orangered;
  --color-black: rgb(27, 27, 27);
  --color-white-font: rgb(255, 255, 255);
  --color-nav:rgb(48, 48, 48);
  --color-gray-dark:gray;
  --color-white-back: rgb(255, 255, 255);
  --color-dark-back:rgb(48, 48, 48);
  --color-dark-font: black;
}
.grid {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "aside aside"
    "footer footer";
  background-color: var(--color-white-back);
}

@media (prefers-color-scheme: dark){
  :root{
    --color-white-back: var(--color-dark-back);
    --color-black: var(--color-orange);
    --color-orange-hover: var(--color-white-font);
    --color-gray-dark:var(--color-white-font);
    --color-dark-font:var(--color-white-font);
  }

  .icon-social{
    content: url(icons/instagram-orange.png);
  }

}


@media (min-width: 980px) {
  .grid {
    display: grid;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }

  /*---Aside posicionamento---*/
  .container-aside {
    grid-area: aside;
    max-width: 300px;
    position: sticky; /* sobe normalmente, mas ao chegar no topo da tela ele fica fixo*/
    top: 0;
    height: fit-content; /* importante para sticky funcionar bem */
  }
  .content-social {
    margin-top: 72px;
  }
  /*---Aside posicionamento---*/
}


/*---Menu de Navegação---*/
.container-nav {
  background-color: var(--color-nav);
  position: fixed;
  width: 100%;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.container-main {
  grid-area: main;
  margin-top: 72px;
  padding: 22px;
}
.icon-lupa{
    cursor: pointer;
}
/*-Menu de Lateral-*/
.box-nav {
  position: relative;
}
.menu-lateral {
  display: none; /*Desativa o seletor -menu lateral*/
  position: fixed; /* posição fixa na tela*/
  left: 0;
  top: 0;
  width: 30vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.945);
  color: var(--color-white-font);
  padding: 20px;
  z-index: 1000; /* ordem de empilhamento */
}
.icon-menu-bar{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.icons-menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.1s;
  
}
.icons-menu:hover {
  width: 32px;
  height: 32px;
}
.menu-text {
  border-bottom: 1px solid var(--color-orange);
  padding-bottom: 3px;
}
.menu-lateral ul {
  margin-top: 70px;
  height: 80%;
}
.menu-lateral li {
  margin-bottom: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.menu-lateral li:hover {
  color: var(--color-orange);
  margin-left: 10px;
}
.box-nav:hover .menu-lateral {
  display: block; /* se torna visivel */
}
/*-Menu de Lateral-*/
/*---Menu de Navegação---*/

/*---Conteúdo Main---*/
span {
  color: var(--color-orange);
  font-weight: bold;
}
span:hover {
  color: var(--color-orange-hover);
  text-decoration: underline;
  cursor: pointer;
}
h1 {
  font-size: 1.5rem;
  color: var(--color-black);
}
.h1-textcontent:hover {
  color: var(--color-orange-hover);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.51rem;
}
p {
  color: var(--color-gray-dark);
  font-size: 1rem;
  margin: 20px 0px;
}
.text-little {
  margin-top: 2px;
  color: var(--color-gray-dark);
  font-size: 1.2rem;
}
.img-little {
  object-fit: cover; /*preenche o espaço sem distorcer, pode cortar um pouco*/
  float: left; /*coloca a imagem à esquerda.*/
  width: 180px;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 1px;
}
.img-text {
  border-bottom: inset;
  overflow: hidden; /* para conter o float */
  margin-bottom: 20px;
}
/*---Conteúdo Main---*/

/*------------------Conteúdo Aside------------------*/
.container-aside {
  grid-area: aside;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.h1-aside {
  font-size: 1.1rem;
  text-align: start;
  margin-bottom: 10px;
}
/*---Conteudo Social---*/
.content-social {
  text-align: center;
  padding: 10px;
  border: 1px solid var(--color-gray);
  margin-bottom: 50px;
}
.icon-social {
  width: 30px;
  height: 30px;
}
.icon-social:hover {
  width: 30px;
  height: 30px;
  content: url(icons/instagram-orange.png);
  cursor: pointer;
}
/*---Conteudo Social---*/

/*---Conteudo das Categorias---*/
.content-category {
  padding: 10px;
  border: 1px solid var(--color-gray);
}
.box-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box-list ul li {
  border: 1px solid var(--color-gray);
  padding: 5px;
  font-size: 0.9rem;
  margin: 2px;
  cursor: pointer;
  color: var(--color-dark-font);
}
.box-list ul li:hover {
  background-color: var(--color-orange);
  color: var(--color-white-font);
}
/*---Conteudo das Categorias---*/
/*------------------Conteúdo Aside------------------*/

/*---Conteúdo Footer---*/
.container-footer {
  grid-area: footer;
  background-color: var(--color-nav);
  text-align: center;
}
.content-footer p {
  text-align: center;
  font-size: 0.9rem;
}
/*---Conteúdo Footer---*/

/*---Segundo Navegador---*/
.container-nav-2{
    background-color: var(--color-nav);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
}
.nav-box-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px;

}
.icon-lupa-2{cursor: pointer;}
.input-nav{
    background-color: rgba(128, 128, 128, 0.514);
    border: none;
    padding: 8px;
    color: var(--color-white-font);
    width: 100%;
    margin: 0px 10px;
    outline: none;
    border-radius: 5px;
}
.input-nav:hover{
    background-color: rgba(128, 128, 128, 0.247);
}
/*---Segundo Navegador---*/